<div class="w-100 m-0 header d-flex flex-row justify-content-evenly">
    <div class="h-100 px-5 d-flex flex-column justify-content-evenly align-items-start">
        <h1 class="m-0 headline text-black">FIND CLOTHING THAT MATCHES YOUR STYLE.</h1>
        <p class="m-0 text-muted">Browse through our diverse range of meticulously-crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
        <%= link_to "Shop Now", products_path, class: "btn btn-dark rounded-pill", id: "shop-btn" %>

        <div class="header-grid">
            <div class="border-end border-dark-subtle">
                <%= content_tag :h1, "#{generate_random_stats(magnitude: 1, max: 10)}+", class: "m-0 fw-bold" %>
                <p class="m-0 small text-muted">International Brands</p>
            </div>
            <div class="border-end border-dark-subtle">
                <%= content_tag :h1, "#{generate_random_stats(magnitude: 2, min: 10)}+", class: "m-0 fw-bold" %>
                <p class="m-0 small text-muted">High-Quality Products</p>
            </div>
            <div>
                <%= content_tag :h1, "#{generate_random_stats(magnitude: 3, min: 10)}+", class: "m-0 fw-bold" %>
                <p class="m-0 small text-muted">Happy Customers</p>
            </div>
        </div>
    </div>

    <%= image_tag "header-img.png", class: "header-img justify-self-end" %>
</div>

<div class="bg-black brands d-flex justify-content-evenly align-items-center">
    <% 10.times do %>
    <%= image_tag "https://logos-world.net/wp-content/uploads/2022/04/Chanel-Logo.png", class: "logo" %>
    <% end %>
</div>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h2 class="m-0">Featured</h2>
    <div>
        <%= link_to "Add Product", new_product_path, class: "btn btn-success" %>
    </div>
</div>

<div class="grid">
    <% @featured_products.each do |product| %>
    <div class="card d-flex flex-column">
        <div class="card-img-container">
            <%= content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small" %>
            <%= image_tag product.image_url, alt: product.name, class: "card-img-top" %>
        </div>
        <div class="mx-2 mt-1 mb-2">
            <%= content_tag :p, product.name, class: "m-0 h5" %>
            <%= content_tag :p, "Php#{product.price}", class: "m-0" %>
            <%= content_tag :p, product.desc, class: "m-0 pb-2 text-truncate" %>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <%= link_to "View Product", product, class: "btn btn-info" %>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <% end %>
</div>

<h2 class="my-3 mb-4">Store</h2>

<div class="grid">
    <% @unfeatured_products.each do |product| %>
    <div class="card d-flex flex-column">
        <div class="card-img-container">
            <%= content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small" %>
            <%= image_tag product.image_url, alt: product.name, class: "card-img-top" %>
        </div>
        <div class="mx-2 mt-1 mb-2">
            <%= content_tag :p, product.name, class: "m-0 h5" %>
            <%= content_tag :p, "Php#{product.price}", class: "m-0" %>
            <%= content_tag :p, product.desc, class: "m-0 pb-2 text-truncate" %>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <%= link_to "View Product", product, class: "btn btn-info" %>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <% end %>
</div>