<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h2 class="m-0">Featured</h2>
    <div>
        <%= link_to "Add Product", new_product_path, class: "btn btn-success" %>
    </div>
</div>

<div class="grid">
    <% @featured_products.each do |product| %>
    <div class="card d-flex flex-column">
        <div class="card-img-container">
            <%= content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small" %>
            <%= image_tag product.image_url, alt: product.name, class: "card-img-top" %>
        </div>
        <div class="mx-2 mt-1 mb-2">
            <%= content_tag :p, product.name, class: "m-0 h5" %>
            <%= content_tag :p, "Php#{product.price}", class: "m-0" %>
            <%= content_tag :p, product.desc, class: "m-0 pb-2 text-truncate" %>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <%= link_to "View Product", product, class: "btn btn-info" %>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <% end %>
</div>

<h2 class="my-3 mb-4">Store</h2>

<div class="grid">
    <% @unfeatured_products.each do |product| %>
    <div class="card d-flex flex-column">
        <div class="card-img-container">
            <%= content_tag :p, "#{"Featured!" if product.is_featured}", class: "my-2 text-white bg-success py-0 px-1 text-small" %>
            <%= image_tag product.image_url, alt: product.name, class: "card-img-top" %>
        </div>
        <div class="mx-2 mt-1 mb-2">
            <%= content_tag :p, product.name, class: "m-0 h5" %>
            <%= content_tag :p, "Php#{product.price}", class: "m-0" %>
            <%= content_tag :p, product.desc, class: "m-0 pb-2 text-truncate" %>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <%= link_to "View Product", product, class: "btn btn-info" %>
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <% end %>
</div>